<div class="classic-tab p-24">
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
      
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
        </ng-container>
    
         <!-- firstname Column -->
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstname}} </mat-cell>
      </ng-container>
  
      <!-- emailid Column -->
      <ng-container matColumnDef="emailid">
        <mat-header-cell *matHeaderCellDef> Email ID </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.emailid}} </mat-cell>
      </ng-container>  
      <!-- role Column -->
      <ng-container matColumnDef="rolename">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.rolename}} </mat-cell>
      </ng-container>
       <!-- status Column -->
       <ng-container matColumnDef="userstatus">
        <mat-header-cell *matHeaderCellDef> User Status</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.userstatus}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
        <mat-cell (click)="userrowedit(user.id)" *matCellDef="let user"> 
                <mat-icon>edit</mat-icon>
       </mat-cell>
      </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </div>
    </div>