@import "src/@fuse/scss/fuse";

:host {

}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: auto;
    min-width: 1000px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: auto;
  }
  
  .mat-column-select {
    overflow: visible;
  }
