<div id="login" fxLayout="column" fusePerfectScrollbar>

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="login-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

          <div class="logo">
              <img src="assets/images/logos/fuse.svg">
          </div>

          <div class="title">Inspxo</div>
          <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="loginclick()" novalidate>
             <mat-form-field>
                <input matInput type="text" placeholder="Account ID" formControlName="accountid">
                <mat-error *ngIf="loginFormErrors.accountid.required">
                    Account ID is required
                </mat-error>
            </mat-form-field>
            
              <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
              [disabled]="loginForm.invalid" type="submit">
                  LOGIN
              </button>
              <div fxLayout="column" fxLayoutAlign="start center">
                 <p style="color:red">{{result}}</p>  
              </div>
          </form>

      
        </div>
      </div>

</div>