<div id="register" fxLayout="column" fusePerfectScrollbar>

  <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="register-form" *fuseIfOnDom [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

          <div class="logo">
              <img src="assets/images/logos/fuse.svg">
          </div>
         
            <div fxLayout="row" >               
                <div class="title">Registration</div>    
                <div class="titleright">Already have an Account?
                <a class="link" [routerLink]="'/Login'">Login</a></div>
            </div> 
          <form name="registerForm" [formGroup]="registerForm" (ngSubmit)="Registerclick()" novalidate>

            <div class="subtittle">Personal Details</div>
                
                <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="firstname">
                    <mat-error *ngIf="registerFormErrors.firstname.required">
                       First Name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                        <input matInput placeholder="Last Name" formControlName="lastname">
                        <mat-error *ngIf="registerFormErrors.lastname.required">
                            Last Name is required
                        </mat-error>
                    </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="registerFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!registerFormErrors.email.required && registerFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>  
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput placeholder="Phone Number" type="number" formControlName="phonenumber">
                    <mat-error *ngIf="registerFormErrors.phonenumber.required">
                        Phone Number is required
                    </mat-error>
                </mat-form-field>
                    <div class="subtittle">Company Details</div>

                    <mat-form-field>
                            <input matInput placeholder="Company" formControlName="companyname">
                            <mat-error *ngIf="registerFormErrors.companyname.required">
                                Company Name is required
                            </mat-error>
                        </mat-form-field>
                     
                            <mat-form-field>
                                    <mat-select placeholder="Industry" formControlName="industrylistdet" required>
                                            <mat-option *ngFor="let ind of industry" [value]="ind.industryname">
                                                {{ ind.industryname }}
                                              </mat-option>
                                        </mat-select>                                      
                                    <mat-error *ngIf="registerFormErrors.industrylistdet.required">
                                          Industry is required
                                    </mat-error>                            
                            </mat-form-field>
                             
                                <mat-form-field>
                                    <input matInput placeholder="Country Name" formControlName="countryname">
                                    <mat-error *ngIf="registerFormErrors.countryname.required">
                                    Country Name is required
                                    </mat-error>
                                </mat-form-field>

                <div class="subtittle">Account Details</div>
                 <mat-form-field>
                        <input matInput placeholder="Account ID" formControlName="accountid">
                        <mat-error *ngIf="registerFormErrors.accountid.required">
                                Account ID is required
                        </mat-error>
                    </mat-form-field>  
                <mat-form-field>
                        <input matInput placeholder="User Name" formControlName="username">
                        <mat-error *ngIf="registerFormErrors.username.required">
                            Username is required
                        </mat-error>
                    </mat-form-field>   
                    <mat-form-field>     
                        <input matInput type="password" placeholder="Password" formControlName="password">
                        <mat-error *ngIf="registerFormErrors.password.required">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Confrim Password" formControlName="passwordConfirm">
                        <mat-error *ngIf="registerFormErrors.passwordConfirm.required">
                            Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="registerFormErrors.passwordConfirm.passwordsNotMatch">
                            Passwords doesn't match
                        </mat-error>
                    </mat-form-field>
                    <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                            <mat-checkbox name="terms" formControlName="confirmCheckbox" aria-label="Accept" required>
                                <span>Accept</span>
                            </mat-checkbox>
                            <!-- <a href="" ng-click="termsandconditions()">click</a> -->
                            <a (click)="termsandconditions()">Terms and Conditions</a>
                        </div>
                <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid" type="submit">
                    Register
                </button> 
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <p style="color:green">{{result}}</p>  
                        <p style="color:red">{{errormessage}}</p>  
                     </div>

                     <div fxLayout="row" >    
                       <div class="title" style="visibility: hidden;">Training vedio help</div> 
                        <div class="titleright">
                           <a class="link" [routerLink]="'/HelpPage'">Training Video? Help</a>
                        </div>
                    </div> 
          </form>
          <div class="separator">
                <span class="text">OR</span>
            </div>  
               <div class="register" fxLayout="row" fxLayoutAlign="center center">
                    <span color="accent" class="text">Register With Social Media</span>
                </div>
          <div fxLayout="column" fxLayoutAlign="start center">          
            <button mat-raised-button class="google" (click)="socialSignIn('google')" >
                Google
            </button>
            <button mat-raised-button class="facebook" (click)="socialSignIn('facebook')">
                Facebook
            </button>
            <button mat-raised-button class="wechat">
                    Wechat
              </button>
        </div>
         

      </div>

  </div>

</div>